
header {
    display: flex;
    justify-content: center;
}

.nav-link {
    color: #fff;
}

.nav {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-item {
    margin: 0 10px;
}

.active-link {
  color: #0092ff !important;
  cursor: default;
}

header a:hover {
  color: #0092ff !important;
}