#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container-fluid {
  background-color: #000;
}

.container {
  flex: 1;
}

.block-container {
  padding: 20px;
  background-color: #ffffff;
  color: #000000;
}

.block-container a {
  color: #000000;
}

.even-row {
   /* Светло-серый цвет */
  background-color: #e9eff6; /* Темно-серый цвет */
}

.odd-row {
  background-color: #fff;
}

.dynamic-card {
  min-height: 50vh;
}

.detail-user-card {
  color: #fff;
}